{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'customize/css/convert.css' %}">
{% endblock %}

{% block title %}
    成绩赋分
{% endblock title %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <!--使用下拉列表展示赋分模板-->
            <label for="config">赋分模版</label>
            <br>
            <select id="config" name="config">
            {% for config in configs %}
                <option value="{{ config }}">{{ config }}</option>
            {% endfor %}
            </select>
            <br>
            <label>赋分科目</label>
            <br>
            <!--使用复选框展示科目-->
            <input type="checkbox" id="selectAll" onclick="toggleAllCheckboxes()">
            <label for="selectAll">全选</label><br>
            <!-- Loop through items and create checkboxes -->
            {% for item in items %}
                <input type="checkbox" id="{{ item }}" name="selected_items" value="{{ item }}">
                <label for="{{ item }}">{{ item }}</label><br>
            {% endfor %}
            <br>
            <input type="submit" value="生成赋分">
        </form>
    </div>

<div>
    <button class="button" id="openConfigBtn">赋分模版维护</button>
</div>

<!--半透明背景层-->
<div class="modal-container" id="modalContainer"></div>

<!--弹出式窗口-->
<div id="config_list" class="config_list">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>赋分模版维护</p>
  </div>
</div>

<script src="{% static 'customize/js/convert.js' %}"></script>
{% endblock content %}
