{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'customize/css/create_config.css' %}">
{% endblock %}

{% block title %}
    创建模版
{% endblock title %}
{% block content %}
<div class="container">
    <form method="post" id="main-form">
        {% csrf_token %}
    <!--    <input type="text" id="form_count" name="form_count" value="{{ grade_forms|length }}">-->
        <input type="hidden" id="form_count" name="form_count" value="{{ grade_forms|length }}">
        {{ config_form.as_p }}
        <table id="grade-table">
            <thead>
                <tr>
                    <th>等级</th>
                    <th>高分</th>
                    <th>低分</th>
                    <th>占比</th>
                </tr>
            </thead>
            <tbody>
                {% for grade_form in grade_forms %}
                    <tr class="grade-form">
                        <td>{{ grade_form.grade_name }}</td>
                        <td>{{ grade_form.high_score }}</td>
                        <td>{{ grade_form.low_score }}</td>
                        <td>{{ grade_form.percent }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" id="add-btn" class="btn btn-success">新增一行</button>
        <button type="button" id="delete-btn" class="btn btn-danger">删除一行</button>
        <input type="submit" value="保存模板">
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.getElementById('main-form');
    const fieldNames = ['grade_name', 'high_score', 'low_score', 'percent']; // 字段名称数组
    const placeholders = ['等级', '高分', '低分', '占比']; // placeholder 数组
    const fieldTypes = ['text', 'number', 'number', 'number']; // 输入类型数组
    const maxLengths = [4, null, null, null]; // 最大长度数组

    // 添加按钮点击事件处理程序
    document.getElementById('add-btn').addEventListener('click', function() {
        const gradeTable = document.getElementById('grade-table').getElementsByTagName('tbody')[0];
        const newRow = gradeTable.insertRow(-1); // 在表末尾插入新行
        newRow.classList.add('grade-form');

        const formIndex = document.querySelectorAll('.grade-form').length - 1; // 获取最后一个表单的索引
        fieldNames.forEach(function(fieldName, index) {
            const cell = newRow.insertCell();
            const input = document.createElement('input');
            input.type = fieldTypes[index]; // 根据字段确定输入类型
            input.name = formIndex + '-' + fieldName;  // 需要使用前缀+名称
            input.placeholder = placeholders[index]; // 使用硬编码的 placeholder
            if (maxLengths[index] !== null) {
                input.maxLength = maxLengths[index]; // 设置最大长度
            }
            input.required = true; // 确保该字段为必填字段
            input.id = 'id_'+formIndex + '-' + fieldName;  // id+前缀+名称
            cell.appendChild(input);
        });

        updateFormCount(); // 更新表单计数
    });

    // 删除按钮点击事件处理程序
    document.getElementById('delete-btn').addEventListener('click', function() {
        const gradeTable = document.getElementById('grade-table').getElementsByTagName('tbody')[0];
        gradeTable.deleteRow(-1); // 删除表格的最后一行
        updateFormCount(); // 更新表单计数
    });

    // 更新表单计数函数
    function updateFormCount() {
        const gradeForms = document.querySelectorAll('.grade-form');
        document.getElementById('form_count').value = gradeForms.length;
    }
});

</script>


{% endblock content %}