{% extends "base.html" %}
{% load static %}

{% block title %}
    成绩赋分和排名
{% endblock title %}

{% block content %}
<div class="container">
    <p>选择功能</p>
    <ol class="navbar-nav">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <li><input type="file" name="file" id="id_file" required></li>
        <li><button type="submit">上传文件</button></li>
    </form>
        <li><button>成绩赋分</button></li>
        <li><button>计算排名</button></li>
        <li><button>组合成绩</button></li>
        <li><button>下载文档</button></li>
    </ol>
    {% if request.GET.success %}
        <p>文件上传成功</p>
    {% endif %}
</div>

{% endblock content %}
