{% extends "base.html" %}
{% load static %}

{% block title %}
    成绩赋分和排名
{% endblock title %}

{% block content %}
    <div class="button-container">
        <a href="{% url 'upload_file' %}" class="btn btn-primary">重新上传</a>
        <a href="{% url 'convert_page' %}" class="btn btn-primary">成绩赋分</a>
        <a href="{% url 'rank_page' %}" class="btn btn-primary">计算排名</a>
        <a href="{% url 'sum_page' %}" class="btn btn-primary">组合成绩</a>
        <a href="{% url 'download_file' %}" class="btn btn-primary">下载文档</a>
    </div>

{% endblock content %}
