{% extends "base.html" %}
{% load static %}

{% block title %}
    成绩赋分和排名
{% endblock title %}

{% block content %}
    <div class="button-container">
        <a href="{% url 'convert_page' %}" target="_blank"><button class="button">成绩赋分</button></a>
        <a href="{% url 'rank_page' %}" target="_blank"><button class="button">计算排名</button></a>
        <a href="{% url 'sum_page' %}" target="_blank"><button class="button">组合成绩</button></a>
        <a href="{% url 'download_file' %}"><button class="button">下载文档</button></a>
    </div>

{% endblock content %}
