{% extends "base.html" %}
{% load static %}

{% block title %}
    计算排名
{% endblock title %}

{% block content %}
    <div class="container">

        <form method="post">
            {% csrf_token %}
            <div>
                <label>排名科目</label>
                <br>
                <!--使用复选框展示科目-->
                <input type="checkbox" id="selectAll1" onclick="toggleAllCheckboxes('selectAll1')">
                <label for="selectAll1">全选</label><br>
                <!-- Loop through items and create checkboxes -->
                {% for item in subjects %}
                    <input type="checkbox" id="{{ item }}" name="selected_subjects" value="{{ item }}">
                    <label for="{{ item }}">{{ item }}</label><br>
                {% endfor %}
                <br>
            </div>

            <div>
                <label>排名分组</label>
                <br>
                <!--使用复选框展示分组-->
                <input type="checkbox" id="selectAll2" onclick="toggleAllCheckboxes('selectAll2')">
                <label for="selectAll2">全选</label><br>
                <!-- Loop through items and create checkboxes -->
                {% for group in groups %}
                    <input type="checkbox" id="{{ group }}" name="selected_groups" value="{{ group }}">
                    <label for="{{ group }}">{{ group }}</label><br>
                {% endfor %}
                <br>
            </div>
            <input type="submit" value="生成排名">
        </form>

    </div>

<script src="{% static 'customize/js/rank.js' %}"></script>
{% endblock content %}
