{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'customize/css/upload_file.css' %}">
{% endblock %}

{% block title %}
    成绩赋分和排名
{% endblock title %}

{% block content %}
<div class="button-container">
    {% if messages %}
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" id="id_file" accept=".xlsx" required>
            <label for="id_file" class="btn  btn-success">选择文件</label>
            <br>
<!--        <button type="submit" class="button">上传文档</button>-->
        <input type="submit" value="上传文档">
        </form>
    <div id="file_name_display"></div> <!-- 用于显示文件名 -->
</div>
<script src="{% static 'customize/js/file_upload.js' %}"></script>
{% endblock content %}
