 /* 重新定义表单样式 */
form {
    background-color: initial;
    border-radius: initial;
    box-shadow: initial;
    padding: initial;
    max-width: initial;
    margin: initial;
}

.config-item {
    display: flex;
    align-items: center;
}

.config-info {
    flex-grow: 1;
}

.config-buttons {
    display: flex;
    align-items: center;
}

.config-buttons .btn {
    margin: 2px 5px;
}
