.config-item {
    display: flex;
    align-items: center;
}

.config-info {
    flex-grow: 1;
}

.config-buttons {
    display: flex;
    align-items: center;
}

.config-buttons .btn {
    margin: 2px 5px;
}
