/* 用户区域样式 */
.header-area {
  display: flex;
  align-items: center;
  height:60px;
  padding: 10px;
}

/* 登录链接样式 */
.login-link {
  text-decoration: none;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.login-link:hover {
  background-color: #0056b3;
}

/* 用户菜单样式 */
.user-menu {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.username {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #a0e3ab;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.username:hover {
  background-color: #80d38b;
}

/* 下拉菜单样式 */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  padding: 0;
}

.dropdown-menu li {
  padding: 8px 16px;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.logo-link {
    display: block;
    width: 60px;
    height: 60px;
    /* 给超链接标签添加高度和宽度以确保超链接内的图片正常显示 */
}
